$phone-width: 600px;
$phone: "(max-width: #{$phone-width})";
$not-phone: "(min-width: #{$phone-width})";
$extra-wide: "(min-width: 1000px)";

* {
  text-decoration: unset;
  color: unset;
  font-weight: unset;
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  color: #111;
}

body {
  background: #fff;
  color: #555;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
}

$grid-padding: 5px;
$vert-margin: 15px;
$page-width: 900px;

#container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto

}

.page-width {
  max-width: calc(#{$page-width} - #{$grid-padding * 2});
  margin: 0 auto;
}

#container > header {
  $hpad: 5px;
  margin-top: $vert-margin;
  padding: 10px $hpad;
  display: flex;
  align-items: baseline;

  @media #{$phone} {
	margin-top: $hpad;
  }

  h1 {
	font-size: 1.5rem;
  }

  nav {
	flex-grow: 1;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
	a {
	  margin-left: 1rem;
	}
  }
}

main {
  padding: 0 $grid-padding;
}

body > footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 400;
  flex: 1;
  color: #555;
}

#work {
  margin-top: $vert-margin;
  padding: 0 $grid-padding;
  header {
	h1 {
	  margin-bottom: 0.25em;
	}
	p {
	  font-size: 0.95rem;
	  color: #333;
	}
  } // end header

div.content {
  margin: $vert-margin 0.25em;
  text-align: justify;
  text-justify: inter-word;
  }

  img {
	
  margin-bottom: 4em;
  margin-top: 2em;
  }
}

.content {
  p {
	line-height: 1.4em;
  }
  a {
	color: #abd;
	border-bottom: 1px solid #abd;
  }
}

div.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: $vert-margin;

  @media #{$phone} {
	margin-top: $vert-margin / 2;
  }

}

article.work {
  margin: 3em;

  @media #{$phone} {
	width: 100% !important;
	margin: 1em;
  }

  &:hover {
	footer {
	  opacity: 1;
	}
  }

  div.images {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	img {
    padding: 0.25em;
    opacity: 1; //start
    transition: opacity 0.7s;
    &:hover {
		  opacity: 0.3; 
		}
	}
  }

  footer {
	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity 1s;
	margin: 0 0.25em;

	@media #{$phone} {
	  margin-bottom: 0.5em;
	  opacity: 1;
	}

	h2 {
	  font-size: 1rem;
      margin: 0px;
      font-weight: 400;
	  color: #333;
	}

	span.date {
	  color: #333;
    text-align: right;
    font-weight: 400;
	  font-size: 1rem;
	  flex-grow: 1;
	}
  }

}

p {
  margin-bottom: 1em;
}

a:hover {
  color: #222;
}

a.active {
  border-bottom: 1px solid #555;
}

img {
  max-width: calc(100% - 0.5em);
  display: block;
  border-radius: 2px;
}

ul {
  margin-block-start: 0;
  padding-inline-start: 0;

  li {
	list-style: none;
  }
}

#page, #bio-page {
  margin-top: 50px;
  h1 {
	margin: 1rem 0;
  }
  p {
	margin-bottom: 1rem 0;
  }
  img {
	max-width: 100%;
  }
}

#bio-page {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;

  div.bio {
  flex: 1;

  }
  div.image {
  margin-left: 40px;
	width: 40%;
	img {
	  width: 100%;
	}
  }
}


// from https://embedresponsively.com/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 1rem;

  &.wide {
	padding-bottom: 41.84%;
  }
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  height: 100%;
}

svg.insta {
  height: 20px;
  fill: #eee;
}
