<div class="work">
	{{ range .ByParam "date" }}
	<!--{{ .Params.layout }}-->
<article class="work" {{ if .Params.width }} style="width: {{ .Params.width }}%" {{ end }}>
		<a href="{{ .RelPermalink }}">
			<div class="images">
				{{ with .Resources.Match "*_main*" }}
   			{{ range sort . }}
			  {{ $image := . }}
			  {{ if .Params.width }}
			  {{ $image := $image.Resize "900x q90" }}
			  {{ end }}
				<img src="{{ $image.RelPermalink }}" />
				{{ end }}
				{{ end }}
			</div>
			<footer>
				<div>
					<h1>{{ .Title }}</h1>
				</div>
				<span class="date"><h1>{{ dateFormat "2006" .Params.date }}</h1></span>
			</footer>
		</a>
	</article>

	{{ end }}
</div>
